table {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    background-color: #f2f2f2;
}

thead th, tbody td {
    border: 1px solid #ddd;
    text-align: center;
    font-size: x-small;
}

tbody tr {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
